@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
#card {
  width: 280px;
  height: 380px;
  background-color: white;
  margin: 0 auto;
  border-radius: 10%;
  margin-top: 5%;
  border: 5px solid black;
}

#head {
  height: 10%;
  font-size: 60px;
  margin-left: 5%;
  position: relative;
  bottom: 3%;
}
#center {
  text-align: center;
  height: 80%;
  padding-top: 33%;
  font-size: 75px;
}
#footer {
  height: 10%;
  font-size: 60px;
  position: relative;
  left: 80%;
  top: 3%;
  transform: rotateX(180deg);
}

.red {
  color: red;
}

.black {
  color: black;
}

.btn {
  margin-top: 5%;
  border: 0.5px solid black;
  background-color: aquamarine;
  border-radius: 5%;
  width: 200px;
}
